<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color:rgb(239, 250, 255) ;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div style="background-color: rgb(0, 0, 0); width: 350px; height: 50px;  margin-left: 20px;  ">
          <span class="p-input-icon-right" style="margin-top:8px ;">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="ค้นหา..." [(ngModel)]="searchText" autocomplete="off"
              style="height: 35px; width: 250px; margin-left: 10px; font-weight: bold; font-size: 14px;">

          </span>
          <p-button style="background-color: blue; margin-left:5px;  width: 20px;"> <i style="font-size: 20px; "
              (click)="AddData()" class="pi pi-user-plus"></i></p-button>
        </div>
        <br>
        <span style="font-weight:500 ; font-size: large; margin-left: 20px;">
          จำนวนผลลัพธ์ {{data.length}}
        </span>
        <div style="margin-left: 17px; margin-top: 15px;" class="divScroll">
          <table style="width: 350px;">
            <tr *ngFor="let datas of data | search: searchText" (click)="ClickName(datas.USER_ID)" class="pointer">
              <td id="news2"> <i class="pi pi-user" style="font-size:20px ;"></i> {{datas.NAME}} <br> คุณ :
                {{datas.NAME}} {{datas.SURNAME}}</td>
            </tr>
          </table>

        </div>
      </div>
      <div></div>
      <!-- *ngIf="onClick" -->
      <div class="col-sm-8">
        <div style="font-size: 30px; font-weight: 800;">{{TextEditAndAdd}}</div>
        <button *ngIf="onClick" style="margin-bottom: 10px; margin-left: 540px;" (click)="delUser(user_ID)"
          (click)="alertDelete()" pButton type="button" label="ลบ" class="p-button-danger"></button>
        <div></div>

        <div class="p-inputgroup" style="width: 300px ; height: 35px; ">
          <span class="p-inputgroup-addon"><i class="pi pi-user" style="font-size: 15px; font-weight: bold;"></i></span>
          <input type="text" pInputText placeholder="ชื่อ" [(ngModel)]="name"
            style="font-size: 15px; font-weight: bold;  border-width: 2px; background-color: rgb(255, 250, 250);">
        </div><br>

        <div class="p-inputgroup" style="width: 300px ; height: 35px;">
          <span class="p-inputgroup-addon"><i class="pi pi-user" style="font-size: 15px; font-weight: bold;"></i></span>
          <input type="text" pInputText placeholder="นามสกุล" [(ngModel)]="surname"
            style="font-size: 15px; font-weight: bold; border-width: 2px; background-color: rgb(255, 250, 250);">
        </div><br>

        <div class="p-inputgroup" style="width: 300px ; height: 35px; ">
          <span class="p-inputgroup-addon"><i class="pi pi-phone"
              style="font-size: 15px; font-weight: bold;"></i></span>
          <input type="text" pInputText placeholder="เบอร์โทร" [(ngModel)]="mobile"
            style="font-size: 15px; font-weight: bold; border-width: 2px; background-color: rgb(255, 250, 250);">
        </div><br>
        <p-dropdown [options]="genders" [(ngModel)]="gender" optionLabel="gender" optionValue="code"
          placeholder="Select Gender"></p-dropdown>


        <br>
        <div class="divMap" #divMap></div>
        <div style="margin-top: 350px;">
          <span><button class="btnSave" pButton type="button" label="บันทึก"
              (click)="UpdateAndAddUser(user_ID,name,surname,mobile,gender,lat,long);"></button>
            <button pButton type="button" label="ล้างค่า" class="p-button-danger"  
            *ngIf=" checkClear == 0" (click)="clearData()"></button>
            
            <button pButton type="button" label="ล้างค่า" class="p-button-danger"  
            *ngIf=" checkClear == 1" (click)="ClickName(user_ID)"></button>
          </span>
        </div>
      </div>
      <div>
      </div>
    </div>

    
  </div>