.col-sm-4{
    margin-top: 50px;
}
.col-sm-8{
    margin-top: 50px;
}
.btnSave{
    height: 30px;
    width: 80px;
    font-size: large;
}
.p-button-danger{
    margin-left: 15px;
    height: 30px;
    width: 80px;
    font-size: large;
}
.p-input-icon-right{
    margin-left: 15px;
}

.divMap {
    border-style: none;
    text-align: center;
    border-radius: 0%;
    width: 65%;
    height: 340px;
    float: left;
    padding: 10px;
    position: absolute;
    
}

table, th , td  {
    border: 1px solid rgb(193, 193, 193);
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #cfd2d3;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .divScroll{
    width: 500px;
    height: 480px;
    overflow-y: scroll;
  }
  .pointer {
    cursor: pointer;
  }
  .divScroll{
    width: 350px;
    height: 560px;
    overflow-y: scroll;
  }

  table tr:hover{
    background-color: rgb(220, 241, 240);
  }

  :host ::ng-deep .p-dropdown {
    width: 30rem;
    height: 4rem;
    border-width: 2px;
    font-weight: 1000;
    font-size: larger;
    
  }